<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
  <thead>
  <tr>
    <th>User</th>
    <th>Contact Email</th>
    <th>Bio</th>
  </tr>
  </thead>
  <tr>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.bio}"></td>
  </tr>
</table>
<a th:href="'/user/edit-bio?userId=' + ${user.id}">Edit Bio</a>

</body>
</html>