<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<header th:replace="fragments :: header"></header>


<article class="border1">
    <p><span class = "bullets">Welcome to Play4All –</span> an up-and-coming recreational sports league management application bringing players, coaches, & sports plex managers together in one place! </p>
    <p><span class = "bullets">Players & Coaches –</span> Create a profile with your contact information & personal bio. View & sign up for upcoming events. View what other users will be attending events. </p>
    <p><span class = "bullets">Managers –</span> Attract new teams/players by posting your current list of scheduled events. </p>
    <p>We are so excited you chose to check us out! Keep checking in for updates and additional features as we continue to grow. </p>
</article>

</body>
</html>