<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
  <div class="form-group">
    <label>Name
      <input th:field="${venue.name}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>Description
      <input th:field="${venue.description}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>Address
      <input th:field="${venue.address}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>City
      <input th:field="${venue.city}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>Zip Code
      <input th:field="${venue.zip}" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <input type="submit" value="Create" class="btn btn-success">
  </div>
</form>
</body>
</html>